.work-experience {
  padding: 40px;
  border-radius: 8px;
}

.work-experience-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  margin-left: 20px;
  border-left: 3px solid black;
}

.timeline-item {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.timeline-dot {
  position: absolute;
  top: 2.2rem;
  left: -10px;
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50%;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  background: #e0f7fa;
  margin-left: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 0 #000;
  border: 2px solid #000;
  transition: transform 0.3s ease;
}

.timeline-content:hover {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.01);
}

.timeline-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.timeline-content-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 15px;
  flex-shrink: 0;
}

.job-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  margin-left: 10px;
  margin-right: 20px;
  white-space: normal;
  word-wrap: break-word;
}

.company {
  font-size: 1rem;
  color: #666;
}

.duration {
  font-size: 0.9rem;
  color: #999;
}

.description {
  border-top: 1px solid #ccc;
  padding: 20px 20px 0 20px;
}

.description li {
  margin-bottom: 8px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .work-experience {
    padding: 40px 20px;
  }

  .timeline {
    padding: 20px;
  }

  .timeline-title {
    font-size: 1.5rem;
  }

  .timeline-content {
    padding: 8px 12px;
    margin-left: 5%;
    width: 100%;
  }

  .timeline-content-top {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }

  .timeline-content-left {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
  }

  .timeline-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .job-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #444;
    white-space: normal;
    word-wrap: break-word;
    display: inline-block;
    margin-left: 0;
  }

  .timeline-dot {
    top: 1.7rem;
    left: -27px;
    width: 12px;
    height: 12px;
  }

  .company,
  .duration {
    margin-top: 8px;
    font-size: 0.9rem;
  }

  .description {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #ccc;
  }
}
